body {
    margin: 92px 0 46px 0;
}

a {
    text-decoration: none;
}

.icon {
    width: 22px;
    height: 22px;
    margin-left: 5px;
    cursor: pointer;
}

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eaeef2;
    padding: 6px 12px;
    font-size: 1.4em;
    color: #0E7BA6;
    display: flex;
}

#topbar > img {
    width: 36px;
    margin-right: 6px;
}

#topbar > a {
    margin-left: auto;
}

input {
    margin-bottom: 32px;
}

td:nth-of-type(2) {
    width: 160px;
}

td:nth-of-type(3) {
    width: 160px;
}

.universal-viewer {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    background-color: #3e114e;
    color: white !important;
    font-size: 0.7em;
    padding:5px;
    margin-left: 6px;
}

#github {
    width: 32px !important;
}
